body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
}

footer {
    background-color: red;
}

nav {
    display: flex;
    width: 100%;
    gap: 5px;
}

nav a {
    flex: 1;
    text-decoration: none;
    padding: 10px 0;
    background: white;
    border-radius: 8px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    justify-content: space-evenly;
}

nav a.active {
    background: purple;
    color: white;
    border: 2px solid black;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

table td, table th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

table th {
    background-color: rgb(16, 155, 37);
    color: rgb(67, 42, 42);
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background-color: #e76363;
}

table tbody tr:nth-child(even) {
    background-color: #789e20;
}

table tbody tr:hover {
    background-color: #2f78b0;
    transition: 0.2s;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table-wrapper table {
    width: 100%;
}

.video-wrapper {
    width: 100%;
    overflow-x: auto;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.form-row input[type='submit'] {
    background-color: #2f78b0;
    color: white;
    padding: 10px;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 5px 10px;
    background-color: #e76363;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

iframe {
    border: 0;
}

@media ONLY screen AND (max-width: 480px) {
    nav {
        flex-direction: column;
    }
    nav a {
        display: block;
        text-align: center;
        padding: 15px;
        font-size: 20px;
    }

    .form-row, .check-row {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row label {
        text-align: left;
        margin-bottom: 5px;
    }

    input[type="submit"] {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
        height: auto;
        display: block;
    }
}