body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(68, 232, 95);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

footer {
    background-color: rgb(13, 224, 243);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.form-row input[type='submit'] {
    background-color: rgb(16, 155, 37);
    color: white;
    padding: 10px;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 5px 10px;
    background-color: rgb(91, 159, 219);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.spacer {
    width: 150px;
    text-align: right;
}

legend {
    background-color: rgb(16, 155, 37);
    color: white;
    padding: 20px;
}

fieldset {
    background-color: rgb(117, 193, 203);
    width: 80%;
    margin: auto;
}

@media ONLY screen AND (max-width:  480px) {
    .form-row, .check-row {
        flex-direction: column;
    }

    fieldset {
        width: 95%;
        padding: 15px;
    }

    .form-row label, .spacer {
        text-align: left;
        margin-bottom: 5px;
    }

    .form-row, .check-row {
        flex-direction: column;
        align-items: stretch;
    }



    input[type="submit"] {
        width: 100%;
        padding: 15px;
        font-size: 20px;
    }
}