body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    width: 80%;
}

.main-row {
    display: flex;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.sidebar {
    width: 20%;
    border: thin solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    margin: 10px;
}

.table {
    width: 100%;
    caption-side: top;
    border-spacing: 0;
    border-top: thin solid #000;
    margin: auto;
}

.table thead tr {
    background-color: rgb(196, 47, 164);
    color: white;
}

.table tbody tr:nth-child(odd) {
    background-color: #d15858;
    color: white;
}



.table tbody td {
    border-bottom: thin solid #000;
}

.table tfoot tr {
    background-color: rgb(75, 238, 121);
    color: rgb(0, 0, 0);
}