body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-image: url('blue_abstract.jpg');
    background-size: cover;
    background-color: red;
    color: white;
}

header {
    background-image: url('wave_image.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 6em;
}

.mylist {
    list-style-type: circle;
    list-style-image: url(dot.png);

}